@font-face {
  font-family: CaptureIt;
  src: url('./fonts/Capture-it.ttf')
}

@font-face {
  font-family: Lovelo;
  src: url('./fonts/Lovelo.woff');
}

@font-face {
  font-family: Cooper;
  src: url('./fonts/CooperHewitt-Heavy.woff');
}

* {
  font-weight: 600;
}

:root {
  --menuTextColor: #ff8800;
}

body {
  background-color: black;
}




/* Antd overrides */
.ant-notification-notice-message, .ant-notification-notice-description {
  color: white !important;
}

.ant-notification svg {
  fill: var(--menuTextColor);
}